body {
    background: #000;
}

svg {
    height: 70vmin;
}

.right,
.left,
.center {
    fill: #fff;
}

.borders polygon {
    fill: #fff;
}

.borders {
    mask : url(#border-mask);
}

.mask {  
    stroke-width: 6px;
    stroke: #fff;
    stroke-dasharray: 286;
    stroke-dashoffset: 286;
    animation: mask-animation 5s ease-in-out infinite;
}


@keyframes mask-animation {
    0% {
        stroke-dashoffset: 286;
    }
    50% {
        stroke-dashoffset: 500;
    }
    100% {
        stroke-dashoffset: 286;
    }
}